@import url("https://fonts.googleapis.com/css?family=Work+Sans:400,600");
body {
	margin: 0;
	background: #222;
	font-family: 'Work Sans', sans-serif;
	font-weight: 800;
}


/*The navigation bar*/

.container {
	width: 92%;				/*how big is the space between the left/right edge of margin with the leftmost/rightmost item*/
	margin: 0 auto;
}

header {
	background: #55d6aa;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 1;
}

header::after {
	content: '';
	display: table;
	clear: both;
}

.logo {					/*properties of the title "Ray Adrian Nugroho"*/
	float: left;
	color: #444;
	padding: 0px;
	margin: 10px 0;
}

nav {
	float: right;

}

nav ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

nav li {				/*make the list "me", "projects", "interests", "contact" horizontal*/
	display: inline-block;
	margin-left: 70px;
	padding-top: 23px;
	position: relative;
}

nav a {					/*text properties of "me", "projects", "interests", "contact"*/
  color: #444;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
}

nav a:hover {			/*when your mouse hover over the text*/
	color: #000;
}

nav a::before {			/*the appearing effect of the bar above the text*/
	content: '';
	display: block;
	height: 5px;
	background-color: #444;

	position: absolute;
	top: 0;
	width: 0%;

	transition: all ease-in-out 250ms;
}

nav a:hover::before {
	width: 100%;
}


/*The profile*/

.me_container {
	margin: 40px 20px;
	padding: 25px 30px;
	border: 1px solid green;
}

.me_text {
	width: 64%;
	display: inline-block;
	vertical-align: top;
}

.profile_pic {
	width: 35%;
	display: inline-block;
}

.me_text div {
	color: #F0FFFF;
	font-size: 19px;
}

.profile_pic > img{
	width: 80%;
}


/*The project section*/

.project_row {
	text-align: justify;
	border: 1px solid green;
	overflow: hidden;			/*so that the div will fit its contents*/
	padding: 0px 25px 0px;
	margin: 40px 20px;
}

.project_row:after {
	content: '';
	display: inline-block;
	width: 100%;
}

.project_col {
	display: inline-block;
}

.project_box {
	border: 1px solid #F0FFFF;
	width: 410px;
	height: 410px;
	margin: 0 auto;
	line-height: 410px;		/*we need this so that text-align can work vertically*/
	text-align: center;
	color: #F0FFFF;
	position: relative;		/*Required to put the text in the middle of the box/picture*/
}

.project_row h1 {
	color: #F0FFFF;
	margin-bottom: 30px;
}

.project_box img {
	width: 100%;
	height: 100%;
}

.overlay {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height: 100%;
	width: 100%;
	opacity: 0;
	transition: .5s ease;
	background-color: transparent;
}

.project_box:hover .overlay {
	opacity: 1;
}

.project_box:hover img {
	opacity: 0.3;
	transition: .5s ease;
}

.text {
	font-size: 20px;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	text-align: center;
	text-shadow: 0px 0px 6px #000000
}


/* The interests section */

.interests_container {
	border: 1px solid green;
	overflow: hidden;			/*caused the div to fit its contents*/
	padding: 0px 25px 25px;
	margin: 40px 20px;
}

.interests_container h1 {
	color: #F0FFFF;
	margin-bottom: 30px;
}

* {box-sizing: border-box;}

.tab {					/*Style the tab*/
	float: left;
	border: 1px solid #ccc;
	/*background-color: #f1f1f1;*/
	width: 20%;
	height: 300px;
	min-width: 150px;
}

.tab button {			/*Style the buttons to open the tab content*/
	display: block;
	background-color: inherit;
	color: white;
	padding: 22px 16px;
	width: 100%;
	border: none;
	outline: none;
	text-align: center;
	cursor: pointer;
	transition: 0.3s;
	font-size: 19px;
	font-family: 'Work Sans', sans-serif;
	text-transform: uppercase;
	font-weight: bold;
}

.tab button:hover {		/*Change the background color of buttons on hover */
	background-color: #606060;
	color: white;
}

.tab button.active {	/*Create an active/current "tab button" class */
	background-color: #ccc;
	color: black;
}

.tabcontent {
	float: left;
	border: 1px solid #ccc;
	width: 80%;
	height: 700px;
	color: #F0FFFF;
	font-size: 20px;
}

#video_games {
	background-image: url(../images/0b9c92fdce72235a65f6e1bc3f2d09b7.jpg); 
	background-size: 100% 100%;
}

#food_gourmet {
	background-image: url(../images/image-Herbs-and-spices-on-dark-background-stocky-ai-27147570.jpg);
	background-size: 100% 100%;
}

#programming {
	background-image: url(../images/maxresdefault.jpg);
	background-size: 100% 100%;
}

.content {
	margin: 0 7%;
	width: 85%;
	height: 100%;
	background-color: rgba(0,0,0,0.8);
	padding: 40px 70px;
	overflow-y: scroll;
}

.content h2 {
	margin-top: 0;
	font-size: 35px;
}

.content iframe {
	display: block;
	margin: 0 auto;
}

.myfood_column {
	float: left;
	width: 33.33%;
	padding: 5px;
}

.myfood_row::after {
	content: "";
	clear: both;
	display: table;
}

.myfood_column img {
	width: 100%
}

.myfood_column p {
	margin-top: 0;
	margin-bottom: 0;
}

.portrait_ow {		/*duplicate! PLEASE FIX*/
	float: left;
	width: 15%;
	padding: 5px;
}

.portrait_ow img {
	width: 100%;
}

.program_pic_column {
	float: left;
	width: 24%;
	margin-right: 10px;
	border: solid 1px white;
}

.program_content_column {
	float: left;
	width: 73%;
	margin-left: 10px;
}

.program_row::after {
	content: "";
	clear: both;
	display: table;
}

.program_pic_column img {
	width: 100%;
}

/* The "contact" section */

.contacts_container {
	border: 1px solid green;
	overflow: hidden;
	padding: 0px 25px 25px;
	margin: 40px 20px;
}

.contacts_container h1 {
	color: #F0FFFF;
	margin-bottom: 30px;
}

.contacts_container p {
	color: #F0FFFF;
	font-size: 19px;
}

.download_doc {
	float: left;
	border: 1px solid black;
	font-size: 19px;
	color: black;
	background-color: #DCDCDC;
	margin-left: 50px;
	padding: 10px;
	cursor: pointer;
}

.download_doc:hover {
	background-color: #A9A9A9;
	transition: 0.5s ease;
}