@import url("https://fonts.googleapis.com/css?family=Work+Sans:400,600");
html {
	scroll-behavior: smooth;
}
body {
	margin: 0;
	background: #222;
	font-family: 'Work Sans', sans-serif;
	font-weight: 800;
}


/*The navigation bar*/

header {
	background: #55d6aa;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 2;				
	height: 58px;
	border-bottom: 1px solid black;
}

header::after {				
	content: '';
	display: table;			
	clear: both;
}

.header_container {
	width: 92%;				
	margin: 0 auto;
}

.header_logo {
	float: left;
	color: #444;
	padding: 0px;
	margin: 10px 0;
}

nav {						
	float: right;

}

nav ul {
	margin: 0;
	padding: 0;
	list-style: none;		
}

nav li {				
	display: inline-block;	
	margin-left: 70px;
	padding-top: 23px;
	position: relative;		
}

nav a {					
  	color: #444;
  	text-decoration: none;
  	text-transform: uppercase;
  	font-size: 14px;
  	height: 500px;
  	width: 500px;
}

nav a:hover {				
	color: #000;
}

nav a::before {			
	content: '';
	display: block;
	height: 5px;
	background-color: #444;

	position: absolute;		
	top: 0;
	width: 0%;

	transition: all ease-in-out 250ms;
}

nav a:hover::before {
	width: 100%;
}

nav img {
	display: none;
	height: 50px;
	margin-top: 3px;
	margin-right: 10px;
}

@media(max-width: 960px) {
	nav ul {display: none;}
	nav img {display: inline-block;}
	div #dropdown_menu {display: inline-block;}
}


/*The dropdown menu*/

#dropdown_menu {
	position: fixed;
	transition: 0.5s;
	display: none;
	z-index: 1;
}

.options {
	list-style-type: none;				
	padding: 0;
	background: #55d6aa; 
	margin: 0;
}

.options > li {
	line-height: 80px;
	text-align: center;
	border-bottom: 1px solid black;
}

.options > li > a {
	display: inline-block;
	width: 150px;
	height: 80px;

	color: #444;
  	text-decoration: none;
  	text-transform: uppercase;
  	font-size: 14px;
}

.options > li > a:hover {
	background-color: #008744;
	transition: .5s ease;
}


/*The anchor*/

a.anchor {
	display: block;
	position: relative;
	top: -70px;				
	visibility: hidden;
}


/*My profile section*/

.me_container {
	margin: 40px 20px;
	padding: 25px 30px;
	border: 1px solid green;
}

.me_profilePic {
	width: 35%;
	display: inline-block;
}

.me_profilePic > img{
	width: 80%;
}

.me_textDescription {
	width: 64%;
	display: inline-block;
	vertical-align: top;

	color: #F0FFFF;
	font-size: 19px;
}


/*The "projects" section*/

.project_container {
	text-align: justify;
	border: 1px solid green;
	overflow: hidden;			
	padding: 0px 25px 0px;
	margin: 40px 20px;
}

.project_container::after {
	content: '';
	display: inline-block;
	width: 100%;
}

.project_container h1 {
	color: #F0FFFF;
	margin-bottom: 30px;
}

.project_box {
	border: 1px solid #F0FFFF;
	width: 410px;
	height: 410px;
	margin: 0 auto;
	line-height: 410px;		
	text-align: center;
	position: relative;		
	display: inline-block;
}

.project_box img {
	width: 100%;
	height: 100%;
}

.project_overlay {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height: 100%;
	width: 100%;
	opacity: 0;
	transition: .5s ease;
	background-color: transparent;
	color: #F0FFFF;
}

.project_name {
	font-size: 26px;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	text-align: center;
	text-shadow: 0px 0px 6px #000000
	color: #F0FFFF;
}

.project_box:hover .project_overlay {
	opacity: 1;
}

.project_box:hover img {
	opacity: 0.3;
	transition: .5s ease;
}


/* The "interests" section */

.interests_container {
	border: 1px solid green;
	overflow: hidden;
	padding: 0px 25px 25px;
	margin: 40px 20px;
}

.interests_container h1 {
	color: #F0FFFF;
	margin-bottom: 30px;
}

* {box-sizing: border-box;}			

.interests_tab {					
	float: left;
	border: 1px solid #ccc;
	width: 20%;
	height: 300px;
	min-width: 150px;
}

.interests_tablinks {				
	display: block;
	background-color: inherit;
	color: white;
	padding: 22px 16px;
	width: 100%;
	border: none;
	outline: none;
	text-align: center;
	cursor: pointer;
	transition: 0.3s;
	font-size: 19px;
	font-family: 'Work Sans', sans-serif;
	text-transform: uppercase;
	font-weight: bold;
}

.interests_tablinks:hover {			
	background-color: #606060;
	color: white;
}

.interests_tablinks.active {		
	background-color: #ccc;
	color: black;
}

.interests_tabContent {
	float: left;
	border: 1px solid #ccc;
	width: 80%;
	height: 700px;
	color: #F0FFFF;
	font-size: 20px;
}

#interests_videoGames {
	background-image: url(../images/0b9c92fdce72235a65f6e1bc3f2d09b7.jpg); 
	background-size: 100% 100%;
}

#interests_foodGourmet {
	background-image: url(../images/image-Herbs-and-spices-on-dark-background-stocky-ai-27147570.jpg);
	background-size: 100% 100%;
}

#interests_programming {
	background-image: url(../images/maxresdefault.jpg);
	background-size: 100% 100%;
}

.interests_content {
	margin: 0 7%;
	width: 85%;
	height: 100%;
	background-color: rgba(0,0,0,0.8);
	padding: 40px 70px;
	overflow-y: scroll;
}

.interests_content h2 {
	margin-top: 0;
	font-size: 35px;
}

.interests_content iframe {
	display: block;
	margin: 0 auto;
}

.interests_contentRows::after {
	content: "";
	clear: both;
	display: table;
}

.interests_img {
	width: 100%;
}

.interests_foodPic {
	float: left;
	width: 33.33%;
	padding: 5px;
}

.interests_foodPic p {
	margin-top: 0;
	margin-bottom: 0;
}

.interests_programPic {
	float: left;
	width: 24%;
	margin-right: 10px;
	border: solid 1px white;
}

.interests_programDesc {
	float: left;
	width: 73%;
	margin-left: 10px;
}


/* The "contact" section */

.contacts_container {
	border: 1px solid green;
	overflow: hidden;
	padding: 0px 25px 25px;
	margin: 40px 20px;
}

.contacts_container h1 {
	color: #F0FFFF;
	margin-bottom: 30px;
}

.contacts_container p {
	color: #F0FFFF;
	font-size: 19px;
}

.contact_box {
	width: 100px;
	height: 100px;
	margin: 10px;
	line-height: 0px;		
	text-align: center;
	display: inline-block;
}

.contact_box img {
	width: 100%;
	height: 100%;
	border-radius: 15px;
}

.contact_box:hover img {
	opacity: 0.3;
	transition: .5s ease;
}
